<!-- ****************************
	Footer
********************************* -->
<footer class="l-footer">
	<div class="l-footer__totop">
		<a href="#"></a>
	</div>
	<div class="l-footer__inner u-container">
		<ul class="l-footer-navi">
			<li class="l-footer-navi__item">
				<a href="<%= pageData.dir %>">TOP</a>
			</li>
			<li class="l-footer-navi__item">
				<a href="<%= pageData.dir %>about/">ABOUT</a>
			</li>
		</ul>
		<p class="l-footer__copyright"><small>©2018 R Sakai</small></p>

	</div>

</footer>
