<!-- ****************************
	Header
********************************* -->
<header id="header" role="banner" class="l-header">
	<div class="l-header__wrapper">
		<h1 class="l-header__sitename"><a href="<%= pageData.dir %>"><%= SITE_NAME %></a></h1>
		<nav class="l-gnav">
			<a href="<%= pageData.dir %>about/">About</a>
		</nav>
	</div>
</header>

<!-- ****************************
	/Header
********************************* -->
