/*********************************************************


Heading


**********************************************************/

/****************************************

         primary

*****************************************/

.c-heading--primary {
  text-align: center;
  margin: 0 auto 2em;
  font-size: 2rem;
}
