/*********************************************************


 Header
 Gnavi


**********************************************************/
.l-header {
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid;
}
.l-header__sitename {
  font-size: 2rem;
}
